{% extends 'base.html' %}
{% load staticfiles %} 
{% block content %}



  <div class="container my-5 py-5 z-depth-1 font_custom">


    <!--Section: Content-->
    <section class="px-md-5 mx-md-5 text-center dark-grey-text font_custom">

      <!--Grid row-->
      <div class="row">

        <!--Grid column-->
        <div class="col-md-6 mb-4 mb-md-0">

          <h3 class="font-weight-bold font_custom">About Celtic Surf</h3>

          <p class="text-muted font_custom"> <br> 
Hi,  <br>
 <br>
 

I’m Kealan, owner of Celtic Surf. <br>   <br>

 

The Atlantic Ocean is where I spend majority of my time and where I feel most comfortable so I chose to work in there too! My aim for Celtic Surf, is to share my workplace and ignite this same passion in others. 

 

I have been a surf instructor for many years throughout the coast of Clare and a life-long surfer. My training began when I was 14 when I began water safety and swimming training. I then worked as a lifeguard and ultimately, became a surf instructor.  
 <br> <br>
 

I have travelled around Ireland, from Kerry to Donegal, surfing many different waves in order to develop my skills and become a more well-rounded surfer. With the help of my peers, I have overcome more than I ever thought I would in terms of surfing, and am constantly excelling at it while still constantly learning. 

It also gave me the opportunity to help my peers improve their technique and tackle specific waves (see advanced lessons if you wish to know more.)  

This is the kind of community we have in Celtic Surf (no matter the level); teamwork makes the dream work.  

  <br> <br>

I have been lucky enough to have spent time surfing in Europe in places such as Portugal, Spain and France. However, I still feel that Ireland is the best. The emerald isle is a hidden gem (as long as you can keep warm.) The scenic surf locations in Ireland are beyond description and inspire adventure, it is a gift that keeps giving. 

 

At Celtic Surf, me and my team want you to have some fun (catching a wave is a bonus.) 

I enjoy sharing my passion for surfing and teaching it to people of all ages, on many different levels. It is great to help someone ride a wave for the first time and see the smiles on people's faces, it is a great accomplishment to me.  

 

I will give you the time and experience I have learned over the years to help you become more comfortable in the ocean so you too can ride the waves and enjoy the fruits of the North Atlantic Sea.  

  <br> <br>

We hope here, at Celtic Surf School Spanish Point, that you will have a great experience in the ocean and learn how to catch some waves with us and our team  
 <br>
  <br>

Thank you for reading 
 <br>
  <br>

Kealan Murphy  
          </p>

          <a class="btn btn-purple font_custom" href="{% url 'contact' %}" role="button">Surf and smile with us<i class="far fa-smile-beam ml-2"></i></a><i class=""></i>

          <hr class="my-5">

          <p class="font-weight-bold font_custom">Follow us on:</p>

          <!--Facebook-->
            <a href="#" class="mx-1 text-purple" role="button"><i class="fab fa-facebook-f"></i></a>
            <a href="#" class="mx-1 text-purple" role="button"><i class="fab fa-twitter"></i></a>
            <a href="#" class="mx-1 text-purple" role="button"><i class="fab fa-instagram"></i></a>
            <a href="#" class="mx-1 text-purple" role="button"><i class="fab fa-youtube"></i></a>


        </div>
        <!--Grid column-->

        <!--Grid column-->
        <div class="col-md-5 mb-4 mb-md-0">

          <img src="{% static 'images/surf5.jpg' %}" class="img-fluid" alt="">

        </div>
        <!--Grid column-->

      </div>
      <!--Grid row-->


    </section>
    <!--Section: Content-->


  </div>



   </div>
            </div>
        </div>
    </main>

      <style>
        .font_custom {
            font-family: cursive !important;
        }
    </style>

 {% endblock %}