{% extends 'base.html' %}
{% load staticfiles %} 
{% block content %}



  <div class="container my-5 py-5 z-depth-1">


    <!--Section: Content-->
    <section class="px-md-5 mx-md-5 text-center dark-grey-text">

      <!--Grid row-->
      <div class="row">

        <!--Grid column-->
        <div class="col-md-6 mb-4 mb-md-0">

          <h3 class="font-weight-bold">About Celtic Surf</h3>

          <p class="text-muted">
              - Who are you - experience, passion for Clare, surfing etc, kid friendly (push this and all the differnet camps you have done)  <br>
              - Why are you doing this? working with communities, work with a great team, promote wild atlantic way, promote the great outdoors, love of nature etc
              - What do you offer - groups/ private lessons etc
              - Finally, business philosopy - Have a good time and show a bit of appreciation for the sea?
          </p>

          <a class="btn btn-purple btn-md ml-0" href="{% url 'contact' %}" role="button">Surf and smile with us<i class="far fa-smile-beam ml-2"></i></a><i class=""></i>

          <hr class="my-5">

          <p class="font-weight-bold">Follow us on:</p>

          <!--Facebook-->
            <a href="#" class="mx-1 text-purple" role="button"><i class="fab fa-facebook-f"></i></a>
            <a href="#" class="mx-1 text-purple" role="button"><i class="fab fa-twitter"></i></a>
            <a href="#" class="mx-1 text-purple" role="button"><i class="fab fa-instagram"></i></a>
            <a href="#" class="mx-1 text-purple" role="button"><i class="fab fa-youtube"></i></a>


        </div>
        <!--Grid column-->

        <!--Grid column-->
        <div class="col-md-5 mb-4 mb-md-0">

          <img src="{% static 'images/surf5.jpg' %}" class="img-fluid" alt="">

        </div>
        <!--Grid column-->

      </div>
      <!--Grid row-->


    </section>
    <!--Section: Content-->


  </div>



   </div>
            </div>
        </div>
    </main>

 {% endblock %}