{% extends 'base.html' %}
{% load staticfiles %} 
{% block content %}

<form role="form" action="https://formspree.io/f/meqpwoao" method="POST">
    {% csrf_token %}
  


<div class="container z-depth-1 my-5 px-0">

  <!--Section: Content-->
  <section class="my-md-5" 
    style="background-image: url('https://mdbootstrap.com/img/Photos/Horizontal/Nature/4-col/img%20(8).jpg'); background-size: cover; background-position: center center;">

    <div class="rgba-black-strong rounded p-5">

   
      <!-- Section heading -->
      <h3 class="text-center font-weight-bold text-white mt-3 mb-5 font_custom">Contact Us</h3>

      <form class="mx-md-5" action="">

        <div class="row ">
          <div class="col-md-6 mb-4 ">

            <div class="card btn-outline-light font_custom">

       

              <div class="card-body font_custom form-outline mb-4">
                {% csrf_token %}
                {{ form.as_p }}

                    
              <button type="submit" input type="submit" class="font_custom btn btn-outline-info" data-mdb-ripple-color="dark">Submit</button>
              </div>
            </div>

          </div>
          <div class="col-md-5 offset-md-1 mt-md-4 mb-4 white-text font_custom">

            <h1 class="font-weight-bold font_custom">Address</h1>
            <h3 class="mb-0 text-white font_custom">The Van</h3>
            <h3 class="mb-0  text-white font_custom">Spanish Point</h3>
            <h3 class="mb-4 pb-2 text-white font_custom">Clare</h3>

            <h1 class="font-weight-bold font_custom">Phone</h1>
            <h3 class="mb-4 pb-2 text-white font_custom">086888888</h3>

            <h1 class="font-weight-bold font_custom">Email</h1>
            <h3 class='text-white font_custom'>CELTIC@gmail.com</h3>

          </div>
        </div>

      
</form>

  </section>
  <!--Section: Content-->
      <style>
        .font_custom {
            font-family: cursive !important;
        }
    </style>

</div>

{% endblock %}