{% extends 'base.html' %}
{% load staticfiles %} 
{% block content %}

<form role="form" action="https://formspree.io/f/meqpwoao" method="POST">
    {% csrf_token %}
  


<div class="container my-5 px-0">

  <!--Section: Content-->
  <section class="my-md-5" 
    style="background-image: url('/static/images/phone.jpg'); background-size: cover; background-position: center center;">

    <div class="rgba-black-strong rounded p-5">

   
      <!-- Section heading -->
      <h3 class="text-center font-weight-bold text-white mt-3 mb-5 font_custom">Contact</h3>

      <form class=" text-center mx-md-5" action="">

        <div class="row text-center">
          <div class="col-md-6 col-md-offset-3 ">

            <div class="card btn-outline-light font_custom">

       

              <div class="card-body font_custom form-outline mb-4">
                {% csrf_token %}
                {{ form.as_p }}

                    
              <button type="submit" input type="submit" class="font_custom btn btn-outline-light" data-mdb-ripple-color="dark">Submit</button>
              </div>
            </div>

          </div>
          <div class="col-md-5 offset-md-1 mt-md-4 mb-4 white-text font_custom">



          </div>
        </div>

      
</form>

  </section>
  <!--Section: Content-->


</div>

{% endblock %}