{% extends 'base.html' %}
{% load staticfiles %} 
{% block content %}

<div class="container my-5 font_custom">


  <!--Section: Content-->
  <section>

    <h6 class="font-weight-normal text-uppercase font-small grey-text mb-4 text-center font_custom">FAQ</h6>
    <!-- Section heading -->
    <h3 class="font-weight-bold black-text mb-4 pb-2 text-center font_custom">Frequently Asked Questions</h3>
    <hr class="w-header">
    <!-- Section description -->
    <p class="lead text-muted mx-auto mt-4 pt-2 mb-5 text-center font_custom">Got a question? We've got answers. If you have some other questions, call or send us a message!</p>

		<div class="row font_custom">
      <div class="col-md-12 col-lg-10 mx-auto mb-5">
      
        <!--Accordion wrapper-->
        <div class="accordion md-accordion" id="accordionEx" role="tablist" aria-multiselectable="true">

          <!-- Accordion card -->
          <div class="card border-top border-bottom-0 border-left border-right border-light">

            <!-- Card header -->
            <div class="card-header border-bottom border-light" role="tab" id="headingOne1">
              <a data-toggle="collapse" data-parent="#accordionEx" href="#collapseOne1" aria-expanded="true"
                aria-controls="collapseOne1">
                <h5 class="black-text font-weight-normal mb-0 font_custom">
                  What to bring to lessons? <i class="fas fa-angle-down rotate-icon"></i>
                </h5>
              </a>
            </div>

            <!-- Card body -->
            <div id="collapseOne1" class="collapse show" role="tabpanel" aria-labelledby="headingOne1"
              data-parent="#accordionEx">
              <div class="font_custom card-body">
              We supply everything needed for surfing. But you will need a towel, togs and optional bottle of water. Just keep in mind, glasses cannot be worn and goggles are not advised.
              </div>
            </div>

          </div>
          <!-- Accordion card -->

                    <!-- Accordion card -->
          <div class="card border-bottom-0 border-left border-right border-light">

            <!-- Card header -->
            <div class="card-header border-bottom border-light" role="tab" id="headingTwo2">
              <a class="collapsed" data-toggle="collapse" data-parent="#accordionEx" href="#collapseTwo2"
                aria-expanded="false" aria-controls="collapseTwo2">
                <h5 class="black-text font-weight-normal mb-0 font_custom">
                  Do I need to be a strong swimmer? <i class="fas fa-angle-down rotate-icon"></i>
                </h5>
              </a>
            </div>

            <!-- Card body -->
            <div id="collapseTwo2" class="collapse" role="tabpanel" aria-labelledby="headingTwo2"
              data-parent="#accordionEx">
              <div class="card-body font_custom">
              	No, lessons are in waist deep water and all our instructors are qualified lifegaurds. 
              </div>
            </div>

          </div>
          <!-- Accordion card -->

                    <!-- Accordion card -->
          <div class="card border-bottom-0 border-left border-right border-light">

            <!-- Card header -->
            <div class="card-header border-bottom border-light" role="tab" id="headingTwo2">
              <a class="collapsed" data-toggle="collapse" data-parent="#accordionEx" href="#collapseTwo2"
                aria-expanded="false" aria-controls="collapseTwo2">
                <h5 class="black-text font-weight-normal mb-0 font_custom">
                  Is there somewhere to change/bathroom? <i class="fas fa-angle-down rotate-icon"></i>
                </h5>
              </a>
            </div>

            <!-- Card body -->
            <div id="collapseTwo2" class="collapse" role="tabpanel" aria-labelledby="headingTwo2"
              data-parent="#accordionEx">
              <div class="card-body font_custom">
              	There is local bathroom, or back of the van (to change only!) 
              </div>
            </div>

          </div>
          <!-- Accordion card -->

                    <!-- Accordion card -->
          <div class="card border-bottom-0 border-left border-right border-light">

            <!-- Card header -->
            <div class="card-header border-bottom border-light" role="tab" id="headingTwo2">
              <a class="collapsed" data-toggle="collapse" data-parent="#accordionEx" href="#collapseTwo2"
                aria-expanded="false" aria-controls="collapseTwo2">
                <h5 class="black-text font-weight-normal mb-0 font_custom">
                  How long are lessons? <i class="fas fa-angle-down rotate-icon"></i>
                </h5>
              </a>
            </div>

            <!-- Card body -->
            <div id="collapseTwo2" class="collapse" role="tabpanel" aria-labelledby="headingTwo2"
              data-parent="#accordionEx">
              <div class="card-body font_custom">
              	2 hours  
              </div>
            </div>

          </div>
          <!-- Accordion card -->

          <!-- Accordion card -->
          <div class="card border-bottom-0 border-left border-right border-light">

            <!-- Card header -->
            <div class="card-header border-bottom border-light" role="tab" id="headingTwo2">
              <a class="collapsed" data-toggle="collapse" data-parent="#accordionEx" href="#collapseTwo2"
                aria-expanded="false" aria-controls="collapseTwo2">
                <h5 class="black-text font-weight-normal mb-0 font_custom">
                  What happens if I need to cancel? <i class="fas fa-angle-down rotate-icon"></i>
                </h5>
              </a>
            </div>

            <!-- Card body -->
            <div id="collapseTwo2" class="collapse" role="tabpanel" aria-labelledby="headingTwo2"
              data-parent="#accordionEx">
              <div class="card-body font_custom">
              	Please ring in advance of cancellation. 
              </div>
            </div>

          </div>
          <!-- Accordion card -->

          <!-- Accordion card -->
          <div class="card border-bottom-0 border-left border-right border-light">

            <!-- Card header -->
            <div class="card-header border-bottom border-light" role="tab" id="headingThree3">
              <a class="collapsed" data-toggle="collapse" data-parent="#accordionEx" href="#collapseThree3"
                aria-expanded="false" aria-controls="collapseThree3">
                <h5 class="black-text font-weight-normal mb-0 font_custom">
                  What time are the lessons on? <i class="fas fa-angle-down rotate-icon"></i>
                </h5>
              </a>
            </div>

            <!-- Card body -->
            <div id="collapseThree3" class="collapse" role="tabpanel" aria-labelledby="headingThree3"
              data-parent="#accordionEx">
              <div class="card-body font_custom">
							Lessons are tide dependent everyday so keep an eye on the noticeboard or contact us directly. We cannot run lessons 2 hours before and 2 hours after high tide.  
              </div>
            </div>

          </div>
          <!-- Accordion card -->
          
          <!-- Accordion card -->
          <div class="card border-left border-right border-light">

            <!-- Card header -->
            <div class="card-header border-bottom border-light" role="tab" id="headingThree4">
              <a class="collapsed" data-toggle="collapse" data-parent="#accordionEx" href="#collapseThree4"
                aria-expanded="false" aria-controls="collapseThree4">
                <h5 class="black-text font-weight-normal mb-0 font_custom">
                  What Equipment is provided? <i class="fas fa-angle-down rotate-icon"></i>
                </h5>
              </a>
            </div>

            <!-- Card body -->
            <div id="collapseThree4" class="collapse" role="tabpanel" aria-labelledby="headingThree4"
              data-parent="#accordionEx">
              <div class="card-body font_custom">
				Surfboards, wetsuits and optionally boots.   
              </div>
            </div>

          </div>
          <!-- Accordion card -->

        </div>
        <!-- Accordion wrapper -->
        
      </div>
    </div>

	</section>
  
  
</div>

{% endblock %}