{% extends 'base.html' %}
{% load staticfiles %} 
{% block content %}


        <!--Update bar -->
 
    <!--Section: Content-->
    <section class="animated fadeIn px-md-5 mx-md-5 text-center white-text grey p-5 z-depth-1"
      style="background-image: url(https://mdbootstrap.com/img/Photos/Others/gradient1.jpg);">

      <!--Grid row-->
      <div class="row d-flex justify-content-center">

        <!--Grid column-->
        <div class="col-xl-8 col-md-10">

            <h3 class="font-weight-bold">Notice Board</h3>
      
            <p>Taking bookings for summer courses now. Get your surf on!</p>
      
            <a href="{% url 'contact' %}" class="btn btn-outline-white btn-md waves-effect font-weight-bold" role="button"> Contact us or call 083-999999</a>
             <a class="btn btn-outline-white btn-md waves-effect font-weight-bold " href="javascript: document.body.scrollIntoView(false);" role="button">Need directions?<i class="fas fa-shoe-prints ml-2"></i></a>


        </div>
        <!--Grid column-->

      </div>
      <!--Grid row-->

    </section>
    <!--Section: Content-->


  </div>


   <!-- Grid row -->
   <div class="row mobile">
      <!-- Grid column -->
      <div class="col-md-2">
         <!-- Grid row -->
         <div class="row mb-3">
            <!-- Grid column -->
            <div>
               <i class="fas fa-2x fas fa-award icon"></i>
            </div>
            <!-- Grid column -->
            <!-- Grid column -->
            <div>
               <h2 class="font-weight-bold mb-3 feature"> The Team </h2>
               <p class="font-weight-bold">
                  Our coaches are qualified lifegaurds and International Surf Association Certified Surf Coaches
               </p>
            </div>
            <!-- Grid column -->
         </div>
         <!-- Grid row -->
         <!-- Grid row -->
         <div class="row mb-3">
            <!-- Grid column -->
            <div>
               <i class="fas fa-2x fas fa-tint icon"></i> 
            </div>
            <!-- Grid column -->
            <!-- Grid column -->
            <div>
               <h2 class="font-weight-bold mb-3 feature">Check the tide</h2>
               <p class="font-weight-bold">All lessons will be based on the tide. If you want to check it out, see <a href="https://www.surf-forecast.com/breaks/Spanish-Point/tides/latest" target="_blank">here</a></p>
            </div>
            <!-- Grid column -->
         </div>
         <!-- Grid row -->
      </div>
      <!-- Grid column -->
      <!-- Grid column -->
      <div class="col-md-8 text-center">
         <div id="carouselExampleControls" class="carousel slide col-md-12" data-ride="carousel">
            <div class="carousel-inner">
               <div class="carousel-item active">
                  <img class="d-block w-100 img-fluid carousel-image" src="{% static 'images/surf4.jpg' %}"
                     alt="First slide">     
               </div>
               <div class="carousel-item">
                  <img class="d-block w-100 img-fluid carousel-image" src="{% static 'images/surf3.jpg' %}"
                     alt="Second slide">
               </div>
               <div class="carousel-item">
                  <img class="d-block w-100 img-fluid carousel-image" src="{% static 'images/surf5.jpg' %}"
                     alt="Third slide">
               </div>
            </div>
            <a class="carousel-control-prev" href="#carouselExampleControls" role="button" data-slide="prev">
            <span class="carousel-control-prev-icon" aria-hidden="true"></span>
            <span class="sr-only">Previous</span>
            </a>
            <a class="carousel-control-next" href="#carouselExampleControls" role="button" data-slide="next">
            <span class="carousel-control-next-icon" aria-hidden="true"></span>
            <span class="sr-only">Next</span>
            </a>
            <br>
          
         </div>
      </div>
      <!-- Grid column -->
      <div class="col-md-2">
         <!-- Grid row -->
         <div class="row mb-3">
            <!-- Grid column -->
            <div>
               <i class="far fa-2x fa-heart icon"></i>
            </div>
            <!-- Grid column -->
            <!-- Grid column -->
            <div>
               <h2 class="font-weight-bold mb-3 feature">West of Ireland</h2>
               <p class="font-weight-bold">Here at Celtic Surf, we aim to not only teach our budding surfers to ride the waves but also to mind the waves.</p>
            </div>
            <!-- Grid column -->
         </div>
         <!-- Grid row -->
         <!-- Grid row -->
         <div class="row mb-3">
         </div>
         <!-- Grid row -->
         <!-- Grid row -->
         <div class="row">
            <!-- Grid column -->
            <div>
               <i class="fas fa-2x fas fa-child icon"></i>
            </div>
            <!-- Grid column -->
            <!-- Grid column -->
            <div>
               <h2 class="font-weight-bold mb-3 feature">Enjoy</h2>
               <p class="mb-0 font-weight-bold">Celtic surf is about having fun, no matter the weather! Whether a family adventure, gang of friends or joining a group course </p>
            </div>
            <!-- Grid column -->
         </div>
         <!-- Grid row -->
      </div>
      <!-- Grid column -->
   </div>
   <!-- Grid row -->
<div class="container-fluid mt-3 mb-5">

  <!-- Section: Block Content -->
  <section class="mb-4">

    <style>
      .map-container {
        overflow: hidden;
        position: relative;
        height: 0;
      }

      .map-container iframe {
        left: 0;
        top: 0;
        height: 100%;
        width: 100%;
        position: absolute;
      }
    </style>





     
     <!-- Logo -->
       <div class="image text-center">
           
         <a class="text-left" href="{% url 'home' %}" target="_blank">
          <img  class="img-fluid" width="150" height="100" src="" alt="">
         </a>
        </div>

    <div class="container my-5 py-5">

    









    <div class="card">

      <div class="row">
        <div class="col-md-6">

          <!-- Google Maps -->
          <div id="map-within-card-2" class="map-container rounded-left" style="height: 400px">
            <div style="width: 100%"><iframe width="100%" height="600" frameborder="0" scrolling="no" marginheight="0" marginwidth="0" src="https://maps.google.com/maps?width=100%25&amp;height=600&amp;hl=en&amp;q=sPANISH%20POINT,%20clARE%20Ireland+(My%20Business%20Name)&amp;t=&amp;z=14&amp;ie=UTF8&amp;iwloc=B&amp;output=embed"></iframe><a href="https://www.maps.ie/route-planner.htm">Plan A Journey</a></div>
          </div>
          <!-- Google Maps -->

        </div>

        <div class="col-10 col-md-4 mx-auto align-self-center py-4">
          <h5 class="font-weight-normal mb-4">Celtic Surf</h5>
          <p class="text-muted font-weight-light">Spanish Point<br>Clare, Ireland</p>
          <p class="text-muted font-weight-light mb-0">Phone: 085 333333<br>Email: hello@thetheme.io</p>

        </div>
      </div>

    </div>

  </section>
  <!-- Section: Block Content -->

</div>
</section>
<!--Section: Content-->

{% endblock %}