{% extends 'base.html' %}
{% load staticfiles %} 
{% block content %}


  <div class="container my-5">

  <!-- Section -->
  <section>
    
    <style>
      .md-pills .nav-link.active {
        color: #fff;
        background-color: #f7f7f7;
      }
      button.close {
        position: absolute;
        right: 0;
        z-index: 2;
        padding-right: 1rem;
        padding-top: .6rem;
      }
    </style>
    
 

<!--Main layout-->
  <main class="my-5">
    <div class="container">
      <!--Grid row-->
      <div class="row">
        <!--Grid column-->
        <div class="col-md-9 mb-4">
          <!--Section: Content-->
          <section>
            <!-- Post -->
            <div class="row">
              <div class="col-md-8 mb-4">
                <div class="bg-image hover-overlay shadow-1-strong rounded ripple" data-mdb-ripple-color="light">
                  <img src="{% static 'images/covid.PNG' %}" class="img-fluid" />
                  <a href="{% url 'project_five' %}">
                    <div class="mask" style="background-color: rgba(251, 251, 251, 0.15);"></div>
                  </a>
                </div>
              </div>

              <div class="col-md-4 mb-4">
                <h2 class="font_custom text-dark">Return to work</h2>
                <hr>
                <p>
           Abobe Captivate & Inkscape
                </p>

                <a class="btn bg-light link_color footer_color font_custom fw-bolder"  href="{% url 'project_five' %}">Learn More</a>
            </div>
            </div>

            <!-- Post -->
            <div class="row">
              <div class="col-md-8 mb-4">
                <div class="bg-image hover-overlay shadow-1-strong rounded ripple" data-mdb-ripple-color="light">
                  <img src="{% static 'images/celtic.PNG' %}" class="img-fluid" />
                  <a href="{% url 'project_three' %}">
                    <div class="mask" style="background-color: rgba(251, 251, 251, 0.15);"></div>
                  </a>
                </div>
              </div>

              <div class="col-md-4 mb-4">
                <h2 class="font_custom text-dark">Celtic Surf School</h2>
                <hr>
                <p>
  Django, Python, HTML, CSS & JavaScript
                </p>

                <a class="btn bg-light link_color font_custom fw-bolder footer_color" href="{% url 'project_three' %}">Learn More</a>
              </div>
            </div>

            <!-- Post -->
            <div class="row">
              <div class="col-md-8 mb-4">
                <div class="bg-image hover-overlay shadow-1-strong rounded ripple" data-mdb-ripple-color="light">
                  <img src="{% static 'images/finals.PNG' %}" class="img-fluid" />
                  <a href="{% url 'project_one' %}">
                    <div class="mask" style="background-color: rgba(251, 251, 251, 0.15);"></div>
                  </a>
                </div>
              </div>

              <div class="col-md-4 mb-4">
                <h2 class="font_custom text-dark">Simon Game</h2>
                    <hr>
                <p>
    JavaScript, HTML & CSS
                </p>

                <a class="btn bg-light link_color font_custom fw-bolder footer_color" href="{% url 'project_one' %}">learn More</a>
              </div>
            </div>

            <!-- Post -->
            <div class="row">
              <div class="col-md-8 mb-4">
                <div class="bg-image hover-overlay shadow-1-strong rounded ripple" data-mdb-ripple-color="light">
                  <img src="{% static 'images/HH.PNG' %}" class="img-fluid" />
                  <a href="{% url 'project_two' %}">
                    <div class="mask" style="background-color: rgba(251, 251, 251, 0.15);"></div>
                  </a>
                </div>
              </div>

              <div class="col-md-4 mb-4">
                <h2 class="font_custom text-dark">Hobby Hunt</h2>
                <hr>
                <p>
    Django, Python, HTML, CSS & JavaScript
                </p>

                <a class="btn bg-light link_color font_custom fw-bolder footer_color" href="{% url 'project_two' %}">Learn More</a>
              </div>
            </div>
          </section>
          <!--Section: Content-->
        </div>
        <!--Grid column-->

        <!--Grid column-->
        <div class="col-md-3 mb-4">
          <!--Section: Sidebar-->
          <section class="sticky-top" style="top: 80px;">
            <!--Section: Ad-->
            
              </div>
            </div>
  </section>
  </section>



    

      
         



           

     


    </div>
    <!--Tab panels-->

  </section>
  <!-- Section -->

</div>

</div>
</section>
  
    <!--Section: Content-->




</div>


{% endblock %}