{% extends 'base.html' %}
{% load staticfiles %}
{% block content %}

<div class="container my-5 py-5 z-depth-1 font_custom project ">

 
    <!--Section: Content-->
    <section class="px-md-5 mx-md-5 text-center text-lg-left font_custom">

      <!--Grid row-->
      <div class="row">

        <!--Grid column-->
        <div class="col-md-6 mb-4 mb-md-0">

          <!--Image-->
                              <!--Image-->
          <div class="view overlay z-depth-1-half">
            <img src="{% static 'images/homepagePNG.PNG' %}" class="img-fluid" alt="">
            <a href="{% static 'images/homepagePNG.PNG' %}" target="_blank" >
              <div class="mask rgba-white-light"></div>
            </a>
          </div>
          <br>
          <!--Image-->
          <div class="view overlay z-depth-1-half">
            <img src="{% static 'images/review.PNG' %}" class="img-fluid" alt="">
            <a href="{% static 'images/review.PNG' %}" target="_blank" >
              <div class="mask rgba-white-light"></div>
            </a>
          </div>




        </div>
        <!--Grid column-->

        <!--Grid column-->
        <div class="col-md-6 mb-4 mb-md-0 font_custom">

          <h3 class="font-weight-bold text-dark font_custom">Hobby Hunt</h3>
<br>
          <p class="">
              View Hobby Hunt website 
               <br>
               <a class="btn bg-light link_color font_custom fw-bolder footer_color" target="_blank" data-mdb-ripple-color="dark"  href="https://hobbyhunt.herokuapp.com/home/" role="button">View the project</i></a>
             
<br><br>
This is an responsive website created with Django, Python, JavaScript, HTML and CSS.<br><br>
This website is a fullstack web application for an ecommerce business that requires authentication and utilised as an advertising and sales platform.<br>
<br><br>


In assessing the needs of the user, it was determined that as a user, I would like to:
<ul>
<li>have a site where I can buy a product specifically for a hobby.</li>
<li>be able to specify the hobby through category in order to filter the products.</li>
<li>understand how other consumers felt about the product.</li>
<li>buy off of a transparent company and so, be able to leave a review on my purchases.</li>
<li>be able to see more detail about the product (more than just the image and price.)</li>
<li>be able to view my cart and remove items if needed.</li>
<li>to be able to pay securely.</li>
<li>be able to register and log in to my personal account.</li>

</ul> 

<br>

          <a class="btn bg-light link_color font_custom fw-bolder footer_color" data-mdb-ripple-color="dark"  href="{% url 'portfolio' %}" role="button">Back</i></a>

        </div>
        <!--Grid column-->

      </div>
      <!--Grid row-->


    </section>
    <!--Section: Content-->


  </div>



{% endblock %}