{% extends 'base.html' %}
{% load staticfiles %}
{% block content %}

<div class="container my-5 py-5 z-depth-1 font_custom project ">

 
    <!--Section: Content-->
    <section class="px-md-5 mx-md-5 text-center text-lg-left dark-text font_custom">

      <!--Grid row-->
      <div class="row">

        <!--Grid column-->
        <div class="col-md-6 mb-4 mb-md-0">

          <!--Image-->
                              <!--Image-->
          <div class="view overlay z-depth-1-half">
            <img src="{% static 'images/c_surf.png' %}" class="img-fluid" alt="">
            <a href="{% static 'images/c_surf.png' %}" target="_blank" >
              <div class="mask rgba-white-light"></div>
            </a>
          </div>
          <br>
          




        </div>
        <!--Grid column-->

        <!--Grid column-->
        <div class="col-md-6 mb-4 mb-md-0 text-dark font_custom">

          <h3 class="font-weight-bold text-dark font_custom">Celtic Surf School</h3>
<br>
          <p class="">
              View Celtic Surf School website
              <br>
               <a class="btn bg-light link_color font_custom fw-bolder footer_color" target="_blank" data-mdb-ripple-color="dark"  href="https://celticsurfschool.herokuapp.com/home/" role="button">View the project</i></a>
             
<br><br>
This is an responsive website created with Django, Python, JavaScript, HTML and CSS.<br><br>
This website is a fullstack web application for an ecommerce business.<br>
<br><br>


In assessing the needs of the user, it was determined that as a user, I would like to:
<ul>
<li>easily navigate to the information I need.</li>
<li>be able to specify the type of surfing I wish to view (group, lessson etc.).</li>
<li>find relevent information such as the tide.</li>
<li>have an easy format of contacting the business.</li>
<li>view the area and other customers in the gallery</li>
<li>learn about the business.</li>
<li>have any common queries answered and accesible.</li>
<li>find the business using google maps.</li>

</ul> 

<br>

          <a class="btn bg-light link_color font_custom fw-bolder footer_color"data-mdb-ripple-color="dark"  href="{% url 'portfolio' %}" role="button">Back</i></a>

        </div>
        <!--Grid column-->

      </div>
      <!--Grid row-->


    </section>
    <!--Section: Content-->


  </div>



{% endblock %}