{% extends 'base.html' %}
{% load staticfiles %}
{% block content %}

<div class="container my-5 py-5 z-depth-1 project ">

 
    <!--Section: Content-->
    <section class="px-md-5 mx-md-5 text-center text-lg-left dark-text font_custom">

      <!--Grid row-->
      <div class="row">

        <!--Grid column-->
        <div class="col-md-6 mb-4 mb-md-0">

         <!--Video-->
          <div >
            <video class="img-fluid"  controls>
  <source src="{% static 'videos/return.mp4' %}"  type="video/mp4">
    <a href="{% static 'videos/return.mp4' %}" target="_blank" ></a>
    Your browser does not support the video tag.
</video>
              <div class="mask rgba-white-light"></div>
            </a>
          </div>

        </div>
        <!--Grid column-->

        <!--Grid column-->
        <div class="col-md-6 mb-4 mb-md-0 font_custom">

          <h3 class="font-weight-bold text-dark font_custom">Return to work</h3>

        
<br>
This is a short course created with Adobe Captivate and Inkscape.<br><br>
The purpose of this course is to provide an informative and re-assuring introduction to how a company plans on returning to work.<br><br>
To engage the user, I incorprated vivid graphics and began with setting a brief foundation for the virus (clear definition.)<br>
<br><br>


In assessing the needs of the learner, I would like to:
<ul>
<li>set a base understanding of the signs and symptons.</li>
<li>make them aware of what measures the company is taking.</li>
<li>asking for them to take active and individual respondsibilty and how this can be achieved.</li>
<li>show the learner how their efforts have been appreciated over the pandemic.</li>
</ul> 
<br>

</ul>


          <a class="btn bg-light link_color font_custom fw-bolder footer_color" data-mdb-ripple-color="dark"  href="{% url 'portfolio' %}" role="button">Back</i></a>

        </div>
        <!--Grid column-->

      </div>
      <!--Grid row-->


    </section>
    <!--Section: Content-->


  </div>


  {% endblock %}