.nav-item {font-size: 16px;}

.search {font-size: 14px;}

.category {font-size: 14px}

/*Categories in the dropdown */


body { padding-top: 70px;
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    background-color: #ffffff;
    width: 100%;
    font-family: cursive; 
    font-size: 14px;}


@media screen and (min-width: 768px) {
    body { padding-top: 100px; }
}

/*Find Hobby page */
.image_space { margin-left: 10px;}

/*Detail page */
.quantity {
    padding-top: 2em;
}

/*Home page */
.quote{
    font-size: 15px;
}
 
  h1 {
    letter-spacing: 8px;
  }

  h5 {
    letter-spacing: 3px;
  }

/*Line at the end of the content*/
  .hr-light {
    border-top: 3px solid rgb(33, 103, 233);
    width: 80px;
  }

  /*Buttons*/
  .btn {font-size: 14px}

  /*Card shown in Hobby_products and Category*/
.hobby_image {
    height: 300px;   
}

.card-img-top{
    height:100%;
}

/*Image in details.html.*/
detail_image{
height: 300px; 
}
