.nav-item {font-size: 13px}

body { padding-top: 70px;
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    background-color: #ffffff;
    width: 100%;
    font-family: cursive; }

@media screen and (min-width: 768px) {
    body { padding-top: 100px; }
}



