.nav-item {font-size: 16px;}

/*Categories in the dropdown */


body { padding-top: 70px;
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    background-color: #ffffff;
    width: 100%;
    font-family: cursive; 
    font-size: 14px;}


@media screen and (min-width: 768px) {
    body { padding-top: 100px; }
}

/*Find Hobby page */
.image_space { margin-left: 10px;}

/*Detail page */
.quantity {
    padding-top: 2em;
}

/*Home page */
.quote{
    font-size: 14px;
}
 
  h1 {
    letter-spacing: 8px;
  }

  h5 {
    letter-spacing: 3px;
  }

/*Line at the end of the content*/
  .hr-light {
    border-top: 3px solid rgb(33, 103, 233);
    width: 80px;
  }

  /*Buttons*/
  .btn {font-size: 14px}


.hobby_image {
    width: 100%;
    height: 100%;
    background-position: center;
    background-repeat: no-repeat;
    object-fit: cover;
    display: inline-block;
}

.card_contents {
    height: 50%;
    margin: 1rem 0 1.5rem 0;
    background-color: #ffffff;
}

