.nav-item {font-size: 13px}

body { padding-top: 70px;
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    background-color: #ffffff;
    width: 100%;
    font-family: cursive; }

@media screen and (min-width: 768px) {
    body { padding-top: 100px; }
}

/*Find Hobby page */
.image_space { margin-left: 10px;}

/*Detail page */
.quantity {
    padding-top: 2em;
}


  html,
  body,
  header,
  .view {
    height: 100%;
  }

  @media (max-width: 740px) {
    html,
    body,
    header,
    .view {
      height: 100vh;
    }
  }

  .top-nav-collapse {
    font: #78909c !important;
  
  }
  


  @media (max-width: 991px) {
   .navbar:not(.top-nav-collapse) {
    background: #78909c !important;
   }
  }
  
  h1 {
    letter-spacing: 8px;
  }

  h5 {
    letter-spacing: 3px;
  }

  .hr-light {
    border-top: 3px solid #fff;
    width: 80px;
  }




