{% extends "base.html" %}
{% block content %}
{% load staticfiles %}
<div class="container my-5 px-0 z-depth-1">
     <!-- Logo -->
       <div class="image text-center">
         <a class="text-left" href="{% url 'home' %}" target="_blank">
          <img  class="img-fluid" width="150" height="100" src="{% static 'images/logo.png' %}" alt="Logo">
         </a>
        </div>
   <!--Section: Content-->
   <section class="p-5 my-md-5 text-center" 
      style="background-image: url(https://mdbootstrap.com/img/Photos/Others/background.jpg); background-size: cover; background-position: center center;">
      <div class="my-5 mx-md-5">
         <div class="row">
            <div class="col-md-6 mx-auto">
               <!-- Material form login -->
               <div class="card">
                  <!--Card content-->
                  <div class="card-body">
                     <div class="text-center" style="color: #757575;">
                        <h3 class="font-weight-bold my-4 pb-2 text-center dark-grey-text">{{ profile.username  }}'s Profile</h3>
                        <h5 class="font-weight-bold my-4 pb-2 text-center dark-grey-text">{{ user }}</h5>
                        <h6 class="dark-grey-text"> There are {{ product_count }} item(s) in your cart</h6>
                        <p><a class="btn btn-cyan font-weight-bold black-text" href="{% url 'view_cart' %}">View My Cart</a></p>
                        <div class="text-center">
                           <a class="btn btn-cyan font-weight-bold black-text my-4 waves-effect" href="{% url 'password_reset' %}">Reset Password</a>
                        </div>
                     </div>
                  </div>
               </div>
               <!-- Material form login -->
            </div>
         </div>
    </div>
   </section>
   <!--Section: Content-->
   </div>

{% endblock %}
COPY TO CLIPBOARD	 SELECT ALL