{% extends "base.html" %}
{% block content %}
{% load staticfiles %}
<div class="container my-5 py-5 z-depth-1">
     <!-- Logo -->
       <div class="image text-center">
         <a class="text-left" href="{% url 'home' %}" target="_blank">
          <img  class="img-fluid" width="150" height="100" src="{% static 'images/logo.png' %}" alt="Logo">
         </a>
        </div>
<!--Section: Content-->
<section class="px-md-7 mx-md-7 text-center text-lg-left dark-grey-text">
   <p class="text-center">If you already have an account, sign in <a href="{% url 'login' %}">here </a></p>
   <div class="container justify-content-center">
        <div class="col col-10 offset-1 col-md-8 offset-md-2 col-lg-6 offset-lg-3 mt-5 mb-5 p-4 filter">
            <div class="row">
                <div class="col-12">
         <form class="text-center" method="POST">
            {% csrf_token %} {{ registration_form.as_p }}
            <!-- Sign up button -->
            <button class="btn btn-cyan font-weight-bold black-text my-4 btn-block" type="submit">Register</button>
         </form>
                </div>  
             </div> 
         <!-- Social register -->
         <div class="text-center" 
         <hr>
         <!-- Terms of service -->
         <p>
            By clicking
            <em>Sign up</em> you agree to our
            <a href="" target="_blank">terms of service</a>
         </p>
            <!-- Default form register -->
      </div>
      <!--Grid row-->
    </div>
    </div>
</section>
<!--Section: Content-->
{% endblock %}
</div>