<!DOCTYPE html>
{% extends 'base.html' %}

{% block content %}
<div class="container my-5 py-5 z-depth-1">

  <!--Section: Content-->
  <section class="text-center">

    <!-- Section heading -->
    <h3 class="font-weight-bold mb-5">Product Details</h3>
    <p class="product-description">{{ product_detail.description }}</p>

    <div class="row">
      <div class="col-lg-6">
        <img class="img-fluid product rounded" src="{{ MEDIA_URL }}{{ product_detail.image }}">
        </div>
        <!--/.Image-->
        
      
      <div class="col-lg-5 text-center text-md-left">

        <h2 class="h2-responsive text-center text-md-left product-name font-weight-bold dark-grey-text mb-1 ml-xl-0 ml-4">{{product_detail.name}}</h2>


        <h3 class="h3-responsive text-center text-md-left mb-5 ml-xl-0 ml-4">
          <span class="red-text font-weight-bold">
            <strong>{{ product_detail.price }}</strong>
          </span>
        </h3>

        <div class="font-weight-normal">

          <p class="ml-xl-0 ml-4">
            <strong>Category: </strong>{{ product_detail.category }}</p>

          <p class="ml-xl-0 ml-4">{{ product_detail.description }}</p>

            <p class="ml-xl-0 ml-4"><strong>Availability: </strong>In stock</p>
          
          <div class="mt-5">
            <p class="grey-text">Rating</p>
            <div class="row text-center text-md-left">
              <div class="col-md-4 col-12 ">
                <!--Put in rating here-->
              </div>
              
              <div class="col-md-8 mb-4">

            <form method="post" action="{% url 'add_to_cart' product_detail.id%}">
                {% csrf_token %}
                <div class="row mt-3 mb-4">
                <div class="col-md-12 text-center text-md-left text-md-right">
                <input name="quantity" type="number" min="1" max="999" class="form-control" placeholder="Quantity">
                <button class="btn btn-primary btn-rounded">
                 <i class="fas fa-cart-plus mr-2"type="submit" aria-hidden="true"></i> Add to Cart</button>  
                </div>
                 </div>
            </form>
        
        

            
                <!--  <small class="text-muted">No Reviews at this time</small> -->



               <div class="col-xs-9">
               <p>
                        <a href="{% url 'reviews:add_review' product_detail.id %}"> Leave a Review</a>
                    </p>
                          
</div>
                
                 
              </div>
            </div>
          </div>


              </div>


      </div>
    </div>

<!--Loops through reviews-->
<div class="col-md-10 col-sm-9">
      <h3>Reviews</h3>
           <div class="row">
               <div class="col-xs-9">


<p>{{ product_detail.average_rating | floatformat }} <i class="fa fa-star star-color" aria-hidden="true"></i>
    <p>{{ review.content|truncatewords:30 }} </p>
  {% for review in reviews %}
                <div>
                   
                    <p>{{ review.rating}} <i class="fa fa-star star-color" aria-hidden="true"></i> - {{ review.content }}</p>
                  
                    <hr/>
                </div>
                {% endfor %}
                <div class="col-xs-9">
                    <p>
            <a href="{% url 'reviews:product_review' product_detail.id %}"> Read more...</a>
                    </p>
                </div>
                        <hr>
                    </div>



  </section>
  <!--Section: Content-->

 
</div>

{% endblock %}

