<!DOCTYPE html>
{% extends 'base.html' %}

{% block content %}

<div class="container mt-5">


  <!--Section: Content-->
  <section class="text-center">
    {% for product in hobby_product %}
    <!-- Section heading -->
    <h3 class="font-weight-bold mb-5">The Store</h3>

  	<div class="row">

      <!--Grid column-->
      <div class="col-md-4 mb-4">
        <!--Card-->
        <div class="card">

          <!--Card image-->
          <div class="view overlay">
            <div class="product card-img-top" style="background-image: url('{{ MEDIA_URL }}{{ product.image }}')"></div> 
            <a>
              <div class="mask rgba-white-slight waves-effect waves-light"></div>
            </a>
          </div>
          <!--/.Card image-->

          <!--Card content-->
          <div class="card-body">
            <!--Title-->
            <h5 class="card-title">{{ product.name }} <span class="badge badge-primary badge-pill align-text-bottom ml-1">New</span></h5>
            <!--Text-->
            <p class="mb-0 text-muted">{{ product.price }}</p>
       		</div>
          <!--/.Card content-->

        </div>
        <!--/.Card-->

      </div>
      <!--Grid column-->

      <!--Grid column-->
     
      </div>


  </section>
  <!--Section: Content-->

    {% endfor %}
</div>
{% endblock %}