{% extends "base.html" %}
{% load staticfiles %}
{% load bootstrap_tags %}
{% block content %}
<section>
     <!-- Logo -->
       <div class="image text-center">
         <a class="text-left" href="{% url 'home' %}" target="_blank">
          <img  class="img-fluid" width="150" height="100" src="{% static 'images/logo.png' %}" alt="Logo">
         </a>
        </div>
   <!--Grid column-->
   <div class="card-body">
      <h4 class="mb-4 mt-1 h5 text-center font-weight-bold indigo-text">Summary</h4>
      <hr>
      {% for item in cart_items %}
      <!--Card-->
      <!--Card content-->
      <dl class="row">
         <dd class="col-sm-8">
            {{item.product.name}} 
         </dd>
         <dd class="col-sm-4">
            {{ item.product.description }}
         </dd>
      </dl>
      <hr>
      <dl class="row">
         <dd class="col-sm-8">
            {{ item.product.price }}
            <a href="{% url 'remove_cart_item' item.id %}" class="btn btn-danger">Remove Item</a>
         </dd>
      </dl>
      <hr>
      {% endfor %}
      <dl class="row">
         <dt class="col-sm-8">
            Total
         </dt>
         <dt class="col-sm-4">
            <p><span class="glyphicon glyphicon-euro" aria-hidden="true"></span>{{ total }}</p>
            {% if product_count != 0 %}
            <a href="{% url 'checkout' %}" class="btn btn-success" role="button"><span class="glyphicon glyphicon-ok-sign" aria-hidden="true"></span>Checkout</a>
            {% else %}
            <a href="{% url 'checkout' %}" class="btn btn-success disabled" role="button"><span class="glyphicon glyphicon-ok-sign" aria-hidden="true"></span>Checkout</a>
            {% endif %}
  
        </dt>
      </dl>
   </div>
   <button type="button" class="text-center btn btn-outline-info waves-effect"><a href="{% url 'all_hobby_products' %}">Back</a></button>    
   {% endblock %}
   <!--/.</div>-->

   <!--Grid row-->
   <div class="col-lg-4 mb-4">
   <button class="btn btn-primary btn-lg btn-block" type="submit">Place order</button>
</div>
</section>
<!--Section: Content-->
