{% extends "base.html" %}
{% load bootstrap_tags %}
{% block content %}
<div class="row">
   <!-- Header section -->
   <!-- Displays image on small screens and up -->
   <div class="header review-header hidden-xs">
      <img class="img-fluid product rounded hobby_image" src="{{ MEDIA_URL }}{{ product.image }}">
   </div>
   <p class="review-name">{{ product.product }}</p>
</div>
<!-- Displays product on extra small screen, -->
<div class="header review-header-sm visible-xs">
   {{ product.product }}
</div>
<div class="header review-header-sm review-sm-img visible-xs"></div>
<!-- Review area, with product details, add to cart option, reviews and leave a review option -->
<div class="row review-info-area light-text">
   <div class="col-xs-12 col-sm-6 col-md-6">
      <span class="sort-inline review-inner-header indigo-text">Description</span>
      <hr class="hr-dark-grey" />
      <p class="description">{{ product.description }}</p>
      <hr class="hr-dark-grey" />
      <div class="col-md-8 mb-4">
         {% if user.is_authenticated %}
         <!-- Add to cart -->
         <form method="post" action="{% url 'add_to_cart' product.id%}">
            {% csrf_token %}
            <div class="row mt-3 mb-4">
               <div class="col-md-12 text-center text-md-left text-md-right">
                  <input name="quantity" type="number" min="1" max="999" class="form-control" placeholder="Quantity">
                  <button class="btn btn-primary btn-rounded">
                  <i class="fas fa-cart-plus mr-2"type="submit" aria-hidden="true"></i> Add to Cart</button>  
                </div>
            </div>
         </form>
    </div>
      <div class="col-md-8 mb-4">
         <!-- If user is logged in they can leave a review -->
         <button type="button" class="btn btn-outline-secondary waves-effect"> <a class="black-text font-weight-bold"  href="{% url 'reviews:add_review' product.id %}"  role="button">Leave a Review</a></button>
         {% endif %}
      </div>
   </div>
   
   <!-- Displays the most recent 10 reviews -->
   <div class="col-xs-12 col-sm-6 col-md-6">
      <span class="sort-inline review-inner-header indigo-text">Reviews (Most recent 5)</span>
      <hr class="hr-dark-grey" />
      <!-- Loops through each review in reviews -->
      {% for review in reviews %}
      <div>
         <p>{{ review.rating }} <i class="fa fa-star star-color text-warning" aria-hidden="true"></i> - {{ review.author | upper }}</p>
         <p>{{ review.content }} </p>
         <hr/>
      </div>
      {% endfor %}
   </div>
</div>
<button type="button" class="text-center btn btn-outline-info waves-effect"><a href="{% url 'details' product.pk %}">Back</a></button>     
</div>
{% endblock %}